
config DMA_DBCHECKER
    tristate "Enable DBChecker for DMA Checking"
	default n
	depends on HAS_DMA && ARCH_DMA_ADDR_T_64BIT
	help
	  Enable DBChecker, set/unset metadata when dma_map and dma_unmap.
